<ion-view view-title="{{viewTitleLogoComponent}}">
  <ion-content>
    <p class="profile-name-label" ng-bind="ui.profilename"></p>
     <div class="notification-field">
        <p class="settings-switch-title" ng-bind="ui.language"></p>
        <div class="switch-button">
            <span class="on-button {{eng_button_clicked}}" ng-click="changeLanguage('en'); eng_button_clicked = 'button-clicked'; chn_button_clicked = '';" ng-bind="ui.english">
            </span>
            <span class="off-button {{chn_button_clicked}}" ng-click="changeLanguage('ch'); eng_button_clicked = ''; chn_button_clicked = 'button-clicked';" ng-bind="ui.chinese">
            </span>
        </div>
    </div>
    <div class="select-container marginTop20">
    	<select class="full-width-select"><option>Age range</option></select>
    </div>
    <div class="select-container">
    	<select class="full-width-select"><option>Location</option></select>
    </div>
    <div class="notification-field">
    	<p class="settings-switch-title" ng-bind="ui.notification"></p>
    	<div class="switch-button">
    		<span class="on-button {{on_button_clicked}}" ng-click="onButtonClicked()" ng-bind="ui.on">
    		</span>
    		<span class="off-button {{off_button_clicked}}" ng-click="offButtonClicked()" ng-bind="ui.off">
    		</span>
    	</div>
    </div>
    <div class="about-this-app-button" ng-bind="ui.aboutthisapp">
    </div>
  </ion-content>
</ion-view>
